

.DS-site-warn{
  visibility: hidden;
}

.read-feedback-background{
  width: 430px;
  height: 520px;
  position: absolute;
  
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
 
.read-feedback-shapes{
  height: 400px;
  width: 400px;
  position: absolute;
  border-radius: 50%;

}
.read-feedback-shape1{
  /* opacity: 0.9; */
  background: linear-gradient(
      #fc5c3c,
      #e99f37
  );
  left: -380px;
  top: -40px;
}
.read-feedback-shape2{  
  /* opacity: 0.87; */

  background: linear-gradient(
      to right,
    
      #3565d4,
      #3a9fe2
  );
  right: -420px;
  bottom: -10px;
}





.add-subject{
    height: 100px;
    width: 95%;
    border: 2px solid red;

    position: absolute;
    top: 150px;
    margin-left:2.5% ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
.add-subject p{
    font-size: 2.5rem;
   font-weight: 500;
    font-family: "Fredoka", sans-serif; 

}

.add-subject input{
    /* display: block; */
    height: 50px;
    width: 30%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 20px;
    padding: 0 10px;
    /* margin-top: 8px; */
    font-size: 1.2rem;
    font-weight: 400;
    color: #363332;
    border-bottom: 1px solid black;
   
}
::placeholder{
    color: #363332;
}

.add-subject button{

   

        font-family: "Fredoka", sans-serif;
        width: 10%;
        height: 40px;
        background-color: #fa7541;
        color: #080710;
        font-size: 18px;
        font-weight: 600;
        border-radius: 20px;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function: ease-in;


    }
   


.add-subject button:hover{
    scale: 1.05;
    background-color: #ff512f ;
    }

  .add-question-box{
    /* border: 2px solid red; */
    height: 200px;
    position: absolute;
    top: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }  


.add-question-box textarea{
  height: 50px;
  width: 50%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #363332;
  border-bottom: 1px solid black;
  font-family: "Fredoka", sans-serif;

}
::placeholder{
  color: #363332;
  font-size: 1.2rem;

}

.add-question-box button{
    /* margin-top: 15px; */
    width: 10%;
    height: 40px;
    background-color: #fa7541;
    color: #080710;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    font-family: "Fredoka", sans-serif;

}

  .add-question-box button:hover{
    scale: 1.1;
    background-color: #ff512f ;

   }
   .addQues-select-select{

    font-family: "Fredoka", sans-serif;

    height: 40px;
     width: 12rem;
     padding: 5px 5px 5px 8px;
     font-size: 1.1rem;
     color: black;
     cursor: pointer;
   font-size: 1.2rem;
   font-weight: 600;
     margin-right: 20px;
    
     background-color: rgba(255,255,255,0.13);
       border-radius: 15px;
       backdrop-filter: blur(10px);
       border: 2px solid rgba(255,255,255,0.1);
       box-shadow: 0 0 10px rgba(8,7,16,0.6);
    
   
   }

   .addQues-select-select-subject{

    font-family: "Fredoka", sans-serif;

    height: 40px;
      width: 12rem;
     /* padding: 5px 5px 5px 8px; */
     font-size: 1.2rem;
     color: black;
     cursor: pointer;
   font-weight: 500;
   
   backdrop-filter: blur(10px);
  
   /* box-shadow: 0 0 40px rgba(8,7,16,0.6);  */
   
  
    
   
   }

.addQues-checkbox-div{
  display: flex;
  justify-content: space-evenly;
/* border: 1px solid red; */
width: 15%;
height: 30px;
position: relative;
top: 5px;
left: -15px;
}

   .checkbox-btn{
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #4CAF50;
    margin-top: 5.5px;
    position: relative;
  left: -30px;
   }
   .CheckBox-p{
    
  position: relative;
  left: -10px;
font-size: 1.5rem;
font-family: "Fredoka", sans-serif;

   }

   

   .DB-Msg{
    position: absolute;
    top:525px;
    /* border: 2px solid red; */
    height: 50px;
    width: 100%;
    font-size: 2rem;
    font-family: "Fredoka", sans-serif; 
    color: rgba(226, 10, 10, 0.959);

    display: flex;
    justify-content: center;
   }

   @media (max-width :466px) {
    *{
      visibility: hidden;
    }
    
          .DS-site-warn{
            visibility: visible !important;
            display:flex  !important; 
            justify-content: center  !important;
            align-items: center  !important;
            border: 2px solid black  !important;
          height: 100px !important;
          width: 90% !important;
          position: absolute;
          right: -25px;
          top: 300px;
          font-size: 2rem ;
          font-family: "Fredoka", sans-serif;
          
          }
    
      }

      
      @media (min-width: 768px) and (max-width: 1024px) {
        




.add-subject{
   
   

    top: 250px;
    


    backdrop-filter: none;

}
.add-subject p{
    font-size: 2rem;

}

.add-subject input{
    
    width: 35%;
   
    /* margin-top: 8px; */
    font-size: 1.75rem;
   
   
}
::placeholder{
    color: #363332;
    font-size: 1.75rem;
}

.add-subject button{
        width: 12.5%;

    }
   




  .add-question-box{
    /* border: 2px solid red; */
    height: 350px;
    top: 450px;
    backdrop-filter: none;

  }  


.add-question-box textarea{
  width: 70%;

  
  font-size: 1.75rem;
  

}
::placeholder{
  color: #363332;
  font-size: 1.2rem;

}

.add-question-box button{
    /* margin-top: 15px; */
    width: 30%;
    height: 50px;
   
    font-size: 30px;
}

 
   .addQues-select-select{
       backdrop-filter: none;
   
   }

   .addQues-select-select-subject{

   backdrop-filter: none;
   height: 50px;


   }

.addQues-checkbox-div{

/* border: 1px solid red; */
width: 25%;
height: 30px;
position: relative;
bottom: 15px;
}

   .checkbox-btn{
    width: 30px;
    height: 30px;
    
    margin-top: 5.5px;
    position: relative;
  left: -30px;
   }
   .CheckBox-p{
    
  position: relative;
  left: -10px;
font-size: 2rem;
font-family: "Fredoka", sans-serif;

   }

   

   .DB-Msg{
    position: absolute;
    top:775px;
    /* border: 2px solid red; */
    height: 50px;
    width: 100%;
    font-size: 2rem;
    font-family: "Fredoka", sans-serif; 
    color: rgba(226, 10, 10, 0.959);

    display: flex;
    justify-content: center;
   }
      }