
.read-feedback-background{
    width: 430px;
    height: 520px;
    position: absolute;
    
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
  }
   
  .read-feedback-shapes{
    height: 400px;
    width: 400px;
    position: absolute;
    border-radius: 50%;
  
  }
  .read-feedback-shape1{
    /* opacity: 0.9; */
    background: linear-gradient(
        #fc5c3c,
        #e99f37
    );
    left: -380px;
    top: -40px;
  }
  .read-feedback-shape2{  
    /* opacity: 0.87; */
  
    background: linear-gradient(
        to right,
      
        #3565d4,
        #3a9fe2
    );
    right: -420px;
    bottom: -10px;
  }
  

.delQues-SearchForm{    margin-top: 150px;
     height: 200px;
     position: relative;
     top: -125px;
     margin-left: 60px;
     width: 90%;
     border-bottom: 2px solid black;
 
     /* border: 2px solid red; */
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;

 
 }

 
 .delQues-heading-Msg{
    
    width: 100%;
    height: 50px;
    position: relative;
    top: -50px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Fredoka", sans-serif; 

}

.delQues-heading-Msg i{

color: black;
font-size: 1.5rem;
margin-left: 15px;
margin-top: 7px;

}

.delQues-container{
    
    position: relative;
    top: -125px;
}