/* #f7d045 yell ,  #fa7541 orang  , #5a72fa blue */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto&display=swap');

*,
*:before,
*:after{
padding: 0;
margin: 0;
box-sizing: border-box;
/* font-family: "Fredoka", sans-serif; */
/* font-family: 'Open Sans', sans-serif !important; */
/* overflow-x: hidden; */
}


.DS-site-warn{
    visibility: hidden;
  }


  .shape-background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.shapes{
    height: 250px;
    width: 250px;
    position: absolute;
    border-radius: 50%;
}
.shape1{
    background: linear-gradient(
        #ff512f,
        #f09819
    );
    left: -100px;
    top: -100px;
}
.shape2{
    background: linear-gradient(
        to right,
      
        #1845ad,
        #23a2f6
    );
    right: -100px;
    bottom: -80px;
}


.feedback-form{
    height: 570px;
    width: 420px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.feedback-form *{
    font-family: "Fredoka", sans-serif;

    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.feedback-form h3{
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
color: #080710;
position: absolute;
top: 20px;
left: 80px;
}

.feedback-label{
    font-size: 1.2rem;

    display: block;
    margin-top: 30px;
    /* font-size: 16px; */
    font-weight: 500;
    color: #363332;
}
.feedback-input{
    font-size: 1.1rem;

    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    /* font-size: 14px; */
    font-weight: 300;
    color: #363332;
    border-bottom: 1px solid black;
}
::placeholder{
    color: #363332;
}

.feedback-textarea{
    font-size: 1rem !important;

    display: block;
    height: 100px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    /* font-size: 14px; */
    font-weight: 300;
    color: #363332;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border: 1px solid black;


}


.feedback-button{
    margin-top: 50px;
    width: 100%;
    background-color: #fa7541;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

  .feedback-button:hover{
    scale: 1.1;
    background-color: #ff512f ;

   }
   /* #f7d045 yell ,  #fa7541 orange  , #5a72fa blue */
   @media (max-width :466px) {
    *{
      visibility: hidden;
    }
    
          .DS-site-warn{
            visibility: visible !important;
            display:flex  !important; 
            justify-content: center  !important;
            align-items: center  !important;
            border: 2px solid black  !important;
          width: 90% !important;
          position: absolute;
          right: 25px;
          height: 70px !important;

          top: 300px;
          font-size: 2rem ;
            font-family: "Fredoka", sans-serif;
          ;
          }
    
      }
    
      
      @media (min-width: 768px) and (max-width: 1024px) {

        .DS-site-warn{
            visibility: hidden;
          }
        
        #login-shape-bg{
            width: 430px;
            height: 520px;
           
        }
        #login-shape1 , #login-shape2{
            height: 350px;
            width: 350px;
        }
        #login-shape1{
          
            left: -300px;
            top: -350px;
        }
        #login-shape2{
           
            right: -300px;
            bottom: -320px;
        }
        
        

        .feedback-form{
            height: 1000px ;
            width: 700px ;

          
            transform: translate(-50%, -50%);
            backdrop-filter: none;        
        }
      
        .feedback-form h3{
            font-size: 4rem;
            line-height: 70px;
 
        }
        
        .feedback-label{
            margin-top: 50px !important;
            font-size: 2rem !important;
            font-weight: 500;
            color: #363332;
            position: relative;
            top: 50px;
        
        }
        .feedback-input{
            height: 100px;
   
            margin-bottom: 50px;
            font-size: 2rem !important;
            font-weight: 400 !important;
            position: relative;
            top: 50px;
        
        }
        ::placeholder{
            color: #363332;
            font-size: 32.5px !important;

        }
        
        .feedback-textarea{
            font-size: 1.1rem !important;
            width: 100%;
           
            height: 200px;
   
            margin-bottom: 20px;
            font-size: 2rem !important;
            font-weight: 400 !important;

            position: relative;
            top: 90px;
        }
        
        
        
        .feedback-button{
            width: 90%;
            font-size: 50px;
            margin-left: 30px;
            border-radius: 15px;
            position: relative;
            top: 50px;
        }
        
         

      }
